table {
    border-collapse: collapse;
    width: 70%;
    margin-top: 20px;
   
}
body{
    background-image:  linear-gradient(rgba(54, 54, 55, 0.7),rgba(65, 65, 66, 0.7)),url(women.webp);
    background-size: cover;
    background-position: center;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}
tr th
  {
      height: 50px;
      text-align: center;
}
p{
    font-weight: bolder;
    font-size: 80px;
}
tr{
    background-color: #f2f2f2;
}